<div class="bg-blue-100 text-gray py-5 relative">
  <div class="container text-center">
    <h1 class="text-5xl font-bold">Vijay Mali</h1>
    <h2 class="text-2xl mt-3">| Frontend Angular Developer |</h2>
  </div>

  <!-- Logos positioned to the right bottom side by side -->
  <div class="absolute bottom-0 right-0 flex space-x-2">
    <a
      href="https://www.linkedin.com/in/vijay-mali-161a2222a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BJvL%2BTvbOQGCx9KpP85%2BWbw%3D%3D"
      target="_blank"
      class="flex items-center"
    >
      <img
        src="./assets/link1.jpeg"
        alt="LinkedIn"
        class="w-10 object-cover object-center rounded-full border- border-white shadow-lg"
      />
    </a>
    <a
      href="https://github.com/Vijaym62"
      target="_blank"
      class="flex items-center"
    >
      <img
        src="./assets/github.png"
        alt="GitHub"
        class="w-10 object-cover object-center rounded-full border- border-white shadow-lg"
      />
    </a>
    <a href="//gmail.com" target="_blank" class="flex items-center">
      <img
        src="./assets/gmail.png"
        alt="Gmail"
        class="w-10 object-cover object-center rounded-full border- border-white shadow-lg"
      />
    </a>
  </div>
</div>
