<div class="container w-full">
  <div class="text-center border mb-2 shadow rounded bg-gray-100">
    <h1 class="font-semi-bold fs-4">Contact me :</h1>
    <p class="mt-2">
      I Can be Reached at the following Email : <b>vijaym6269&#64;gmail.com</b>
    </p>
    <p class="font-semi-bold mt-2">Contact no. : <b>+91-9370722708</b></p>
  </div>
  <div class="list-group shadow">
    <a
      href="https://www.linkedin.com/in/vijay-mali-161a2222a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BJvL%2BTvbOQGCx9KpP85%2BWbw%3D%3D"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 bg-gray-100"
      ><img
        src="./assets/link1.jpeg"
        alt=""
        class="w-16 object-cover object-center rounded-full border- border-white shadow-lg"
      />
      <h3 class="py-4 font-semibold">Linkdin</h3></a
    >
    <a
      href="https://github.com/Vijaym62"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 bg-gray-100"
      ><img
        src="./assets/github.png"
        alt=""
        class="w-16 object-cover object-center rounded-full border- border-white shadow-lg"
      />
      <h3 class="py-4 font-semibold">Github</h3></a
    >
    <a
      href="https://mail.google.com/mail/u/0/#inbox?compose=new"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3 bg-gray-100"
      ><img
        src="./assets/gmail.png"
        alt=""
        class="w-16 object-cover object-center rounded-full border- border-white shadow-lg"
      />
      <h3 class="py-4 font-semibold">Gmail</h3></a
    >
    <!-- <a
      href="//instagram.com"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
      ><img src="./assets/instagram.png" alt="" class="w-16 h-16" />
      <h3 class="py-4 font-semibold">Instagram</h3></a
    > -->
  </div>
</div>
